{% extends 'base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('Infinity/libs/bower/switchery/dist/switchery.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Infinity/libs/bower/lightbox2/dist/css/lightbox.min.css') }}">
{% endblock %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <!-- DOM dataTable -->
    <div class="col-md-12">
        <div class="widget">
            <header class="widget-header">
                <h4 class="widget-title">Liste des Utilisateurs</h4>
                <br>
                <a href="{{ path('createUser') }}"><button type="button" class="btn btn-outline mw-md btn-primary btn-sm">Ajouter</button></a>
            </header><!-- .widget-header -->
            <hr class="widget-separator">
            <div class="widget-body">
                <div id="responsive-datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="table-responsive">

                        <table id="example" data-plugin="DataTable" class="table table-striped display" cellspacing="0" width="100%">

                            <thead>
                            <tr style="text-align: left">
                                <th>Nom</th>
                                <th>Role</th>
                                <th>Poste</th>
                                <th>Telephone</th>
                                <th>Inscription</th>
                                <th>Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.nom }} {{ user.prenom }}</td>
                                    <td>{{ user.role}}</td>
                                    <td>{{ user.poste }}</td>
                                    <td>{{ user.telephone }}</td>
                                    <td>{{ user.inscription | date('d/m/Y') }}</td>
                                    <td>
                                        <a href="#">Editer</a>
                                        <input  type="checkbox" id="cb{{ user.id }}" onchange="onchangeIsActive(this)" data-href="{{ path('isActive', {'id': user.id }) }}" {% if user.etat %}checked{% endif %} >
                                        <label for="cb{{ user.id }}">{% if user.etat %}activé{% else %}desactivé{% endif %}</label>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        </table>
                    </div>
                </div><!-- .widget-body -->
            </div><!-- .widget -->
        </div><!-- END column -->
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function onchangeIsActive(this_) {
            var url=$(this_).data('href');
            console.log(url);
            if(confirm('test')){
                axios.get(url).then(function (response) {
                    if (response.data.etat=="true"){
                        alert('user activated');
                        $(this_).prop("checked",true);
                        $(this_).next().text("activé");

                        //console.log(test);
                    }
                    else if(response.data.etat=="false"){
                        alert('user desactivated');
                        $(this_).prop("checked",false);
                        $(this_).next().text("desactivé");
                    }
                })
            }
        }
    </script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
    <script src="{{ asset('Infinity/libs/bower/switchery/dist/switchery.min.js"') }}"></script>
    <script src="{{ asset('Infinity/libs/bower/lightbox2/dist/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('Infinity/assets/js/fullcalendar.js') }}"></script>
    <script src="{{ asset('Infinity/libs/misc/datatables/datatables.min.js') }}" ></script>

    <script src="{{ asset('Infinity/libs/bower/moment/moment.js') }}" ></script>
    <script src="{{ asset('Infinity/libs/misc/datatables/datatables.min.js') }}" ></script>
    <script src="{{ asset('Infinity/libs/misc/datatables/datatables.min.js') }}" ></script>
{% endblock %}

