{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <!-- DOM dataTable -->
    <div class="col-md-12">
        <div class="widget">
            <header class="widget-header">
                <h4 class="widget-title">Default DataTable</h4>
                <a href="{{ path('createUser') }}"><h4>Ajouter un Utilisateur</h4></a>
            </header><!-- .widget-header -->
            <hr class="widget-separator">
            <div class="widget-body">
                <div class="table-responsive">
                    <table id="default-datatable" data-plugin="DataTable" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                        <tr style="text-align: left">
                            <th>Nom</th>
                            <th>Role</th>
                            <th>Poste</th>
                            <th>Telephone</th>
                            <th>Inscription</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.nom }} {{ user.prenom }}</td>
                                <td>{{ user.role}}</td>
                                <td>{{ user.poste }}</td>
                                <td>{{ user.telephone }}</td>
                                <td>{{ user.inscription | date('d/m/Y') }}</td>
                                <td>
                                    <a href="#">Editer</a>
                                    <a class="active" id="{{ user.id }}" href="{{ path('isActive', {'id': user.id }) }}">{% if user.etat %}desactiver{% else %}activer{% endif %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div><!-- .widget-body -->
        </div><!-- .widget -->
    </div><!-- END column -->
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function onchangeIsActive(event) {
            event.preventDefault();
            const url=this.href;
            if(confirm('test')){
                axios.get(url).then(function (response) {
                    if (response.data.etat=="true"){
                        alert('user activated');
                        document.getElementById(response.data.userid).innerHTML="desactiver" ;

                        //console.log(test);
                    }
                    else if(response.data.etat=="false"){
                        alert('user desactivated');
                        document.getElementById(response.data.userid).innerHTML="activer" ;
                    }
                })
            }
        }

        document.querySelectorAll('a.active').forEach(function (link){
            link.addEventListener('click',onchangeIsActive);
        })
    </script>
{% endblock %}

