{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <!-- DOM dataTable -->
    <div class="col-md-12">
        <div class="widget">
            <header class="widget-header">
                <h4 class="widget-title">Liste des Utilisateurs</h4><br>
                <a href="{{ path('createUser') }}"><button type="button" class="btn btn-outline mw-md btn-primary btn-sm">Ajouter</button></a>
            </header><!-- .widget-header -->
            <hr class="widget-separator">
            <div class="widget-body">
                <div id="responsive-datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_length" id="responsive-datatable_length">
                                <label>Show <select name="responsive-datatable_length" aria-controls="responsive-datatable" class="form-control input-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> entries</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="responsive-datatable_filter" class="dataTables_filter">
                                <label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="responsive-datatable">
                                </label>
                            </div>
                        </div>
                    </div>
                <div class="table-responsive">
                    <table id="default-datatable" data-plugin="DataTable" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                        <tr style="text-align: left">
                            <th>Nom</th>
                            <th>Role</th>
                            <th>Poste</th>
                            <th>Telephone</th>
                            <th>Inscription</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td> {{ user.nom }} {{ user.prenom }}</td>
                                <td>{{ user.role}}</td>
                                <td>{{ user.poste }}</td>
                                <td>{{ user.telephone }}</td>
                                <td>{{ user.inscription | date('d/m/Y') }}</td>
                                <td>
                                    <a href="#">Editer</a>
                                </td>
                                <td>
                                    <div class="m-b-lg m-r-xl inline-block">
                                        <input type="checkbox" id="cb{{ user.id }}" data-switchery data-size="small" onchange="onchangeIsActive(this)" data-href="{{ path('isActive', {'id': user.id }) }}" {% if user.etat %}checked{% endif %} />
                                        <span class="switchery switchery-small" style="background-color: rgb(255, 255, 255); border-color: rgb(223, 223, 223); box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div><!-- .widget-body -->
        </div><!-- .widget -->
    </div><!-- END column -->
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function onchangeIsActive(this_) {
            var url=$(this_).data('href');
                axios.get(url).then(function (response) {
                    if (response.data.etat==="true"){
                        swal("Utilisateur Activé!","","success");
                        $(this_).prop("checked",true);
                        //console.log(test);
                    }
                    else if(response.data.etat==="false"){
                        swal("Utilisateur Désactivé!","",  "warning");
                        $(this_).prop("checked",false);
                    }
                })
            }

    </script>

    <script src="{{ asset('Infinity/libs/bower/switchery/dist/switchery.min.js"') }}"></script>
    <script src="{{ asset('Infinity/libs/bower/lightbox2/dist/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('Infinity/assets/js/fullcalendar.js') }}"></script>
    <script src="{{ asset('Infinity/libs/misc/datatables/datatables.min.js') }}" ></script>

    <script src="{{ asset('Infinity/libs/bower/moment/moment.js') }}" ></script>
    <script src="{{ asset('Infinity/libs/misc/datatables/datatables.min.js') }}" ></script>
    <script src="{{ asset('Infinity/libs/misc/datatables/datatables.min.js') }}" ></script>

{% endblock %}

