
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity - Bootstrap Admin Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Admin, Dashboard, Bootstrap" />
    <link rel="shortcut icon" sizes="196x196" href="{{ asset('Infinity/assets/images/logo.png') }}">

    <link rel="stylesheet" href="{{ asset('Infinity/libs/bower/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Infinity/libs/bower/material-design-iconic-font/dist/css/material-design-iconic-font.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Infinity/libs/bower/animate.css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Infinity/assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('Infinity/assets/css/core.css') }}">
    <link rel="stylesheet" href="{{ asset('Infinity/assets/css/misc-pages.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300">
</head>
<body class="simple-page">
<div class="simple-page-wrap">
    <div class="simple-page-logo animated swing">
        <a href="">
            <span><i class="fa fa-gg"></i></span>
            <span>Travel Agency</span>
        </a>
    </div><!-- logo -->
    <div class="simple-page-form animated flipInY" id="login-form">
        <h4 class="form-title m-b-xl text-center">Code de vérification</h4>



            <div class="form-group">
                {{ form_start(ConfirmForm) }}
                Code à six chiffres<br>
                {{ form_widget(ConfirmForm.code) }}

                <br>
                {{ form_widget(ConfirmForm.valider) }}
                {{ form_end(ConfirmForm) }}
            </div>

    </div>
</div><!-- .simple-page-wrap -->
</body>
</html>