<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Admin, Dashboard, Bootstrap" />

    <link type="text/css" rel="stylesheet" href="{{ asset('assets/images/logo.png') }}" >
    <link type="text/css" rel="stylesheet" href="{{ asset('libs/bower/font-awesome/css/font-awesome.min.css') }}" >
    <link type="text/css" rel="stylesheet" href="{{ asset('libs/bower/material-design-iconic-font/dist/css/material-design-iconic-font.min.css') }}" >
    <link type="text/css" rel="stylesheet" href="{{ asset('libs/bower/animate.css/animate.min.css') }}" >
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/core.css') }}" >
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/misc-pages.css') }}" >
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300" >

    {% block stylesheets %}{% endblock %}
</head>
<body class="simple-page">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>